#center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#fam-photo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-family: sans-serif;
}

.fam {
    width: 500px;
    height: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: silver;
    display: flex;
    justify-content: center;
}

.fam .mask .names {
    opacity: 0;
    color: black;
}
.fam:hover .names {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.301);
    height: 300px;
    color: black;
}

.fam .mask, .fam.content {
    width: 500px;
   
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fam img {
    display: flex;
    height: 300px;
    justify-content: end;
     
}
.fam h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.fam p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}


