#aoe_ga_jmu {
    text-align: center;
    font-size: 1.8em;
    color: rgb(56, 55, 55);
    font-family: sans-serif;
}

#about {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.statmentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: sans-serif;
}

.aboutP {
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 80vh;
    font-family: serif;
}

#middle {
    display: flex;
    flex-direction: row;
}

.edge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: silver;
    border-radius: 20px;
    border-color: navy;
    border-width: 7px;
    border-style: solid;
    margin: 5px;
}

.edge > img {
    height: 350px;
    width: 200px;
    border-color: white;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }


