#AOELogoPic {
    margin: 10px auto 10px;
    display: block;
}

#site-navigation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#lonely {
    flex-grow: 1;
}

#button {
    font-size: 2em;
    margin: 5px;
}