#AOELogoPic {
    margin: 10px auto 10px;
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: navy;
    height: 60px;
    justify-content: center;
}

#lonely {
    flex-grow: 1;
    margin: 5px;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
}

#lonely > lonelyButton {
    font-size: 1.5em;
}

#button {
    font-size: 1.5em;
    margin: 5px;
    color: white; 
    background-color: navy; 
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: navy;
    color: white;
    margin: 7px;
    padding: 5px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }

  #dropbtn {
        background-color: navy;
        color: white;
        font-size: 1.5em;
        margin: 5px;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white; 
    background-color: navy;
  }

  .dropdown-content a:hover {background-color: navy;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:navy;}