#AOELogoPic {
    margin: 10px auto 10px;
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: navy;
    height: 60px;
}

#lonely {
    flex-grow: 1;
    margin: 5px;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
}

#lonely > lonelyButton {
    font-size: 1.5em;
}

#button {
    font-size: 1.5em;
    margin: 5px;
    color: white; 
    background-color: navy; 
}